
.eventAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 100%;
    padding: 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
background: linear-gradient(#2193b0, #6dd5ed);
background: #43cea2; 
background: -webkit-linear-gradient(to right, #43cea2, #185a9d); 
background: linear-gradient(to right, #43cea2, #185a9d);
background-attachment: fixed;
    /* background-color: #f5f5f5; */

    
}

.inline1{
    display: inline-block;
    width: 359px;
    float: left;

}
.inline2{
    display: inline-block;
    width: 359px;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {

    padding: 10px !important;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.fm label{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.fm {
    margin-top: 40px;
    height: 100%;
    width: 720px;
    border-radius: 16px;
    /* background-color: aquamarine; */
    border: solid black;
    border-width: 1px;
}
.L1{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.L2{
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eventAdd div {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* width: 100%; */
    height: 100%;
    padding: 10px ;
}
.top{
    border-radius: 18px;
    border: solid #2193b0;
    border-width: 1px;
    color: white;
    background-color: black;
    box-shadow: 0 0 10px white,
    0 0 10px white,
    0 0 10px white,
    0 0 10px white ;
    background: #43cea2; 
    background: -webkit-linear-gradient(to left, #43cea2, #185a9d); 
    background: linear-gradient(to left, #43cea2, #185a9d);
    background-attachment: fixed;
    
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 0px;
}
.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedEnd.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    font-size: 20px;
    text-align: center;
}

.btt{
    
    background-color: #43cea2;
    width: 200px;
    text-align: center;
    padding: 8px; 
    border-radius: 4px;
}
.btt:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: 250ms;
    /* background-color: #19a7ffab; */
    background-color: #43cea2;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #43cea2, 0 0 25px #43cea2, 0 0 50px #43cea2, 0 0 100px #43cea2;
}

.fm input[type=text] {
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 12px;
    border: solid rgb(73, 155, 217);
    border-width: 1px;
    background-color: #f0ffff;
  }

 textarea[type=text].desc {
    height: 200px;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 12px;
    border: solid rgb(73, 155, 217);
    border-width: 1px;
    background-color: #f0ffff;
 }

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    background-color: #f0ffff;
}
.MuiInputAdornment-root MuiInputAdornment-positionEnd MuiInputAdornment-outlined MuiInputAdornment-sizeMedium css-1laqsz7-MuiInputAdornment-root{
    background-color: #f0ffff;
}
.MuiInputAdornment-root.MuiInputAdornment-positionEnd.MuiInputAdornment-outlined.MuiInputAdornment-sizeMedium.css-1laqsz7-MuiInputAdornment-root{
    background-color: #f0ffff;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    background-color: #f0ffff;
}

.eventAdd form {
    background-color: #edffffab;
}
 