/* .carousel-item{
    opacity:0;
    transition: opacity 0.2s !important;
  }

.carousel-item.active{
    opacity:1;
    transition: opacity 0.5s !important;
  } */

body {
  /* background: linear-gradient(#141e30, #243b55);
  background-attachment: fixed; */
  background: #43cea2; 
  background: -webkit-linear-gradient(to right, #43cea2, #185a9d); 
  background: linear-gradient(to right, #43cea2, #185a9d);
  background-attachment: fixed;
}

.bigbox {
  height: 1500px;
  width: 70%;
  box-shadow: 0 0 50px rgba(0, 0, 0, .3);
  /* background: linear-gradient(#141e30, #243b55); */
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #43cea2, #185a9d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #43cea2, #185a9d);
  background: linear-gradient(#2193b0, #6dd5ed);
  background-attachment: fixed;
  position: absolute;
  top: 25%;
  left: 15%;
  border-radius: 10px;
  transition: .5s;
}

  /* 745x400 */
.container-fluid{
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  /* padding-left: 100px; */
}

.items {
  /* padding-left: 20%; */
}

.car {
  height: 100vh;
  width: 100%;
  box-shadow: 0 0 5px white,
  0 0 25px white,
  0 0 50px white,
  0 0 200px white ;
  /* position: relative; */
  /* left: 15%; */
  margin-top: 100px;
  display: flex;
  justify-items: center;
  object-fit: contain;
}

.carbody {
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */

}

.d-block {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

