nav{
    height: 70px;

}
nav.navBar{    
    /* background-color:#393ce2; */
    /* position: fixed; */
    width: 70%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    /* background: #43cea2; 
  background: -webkit-linear-gradient(to right, #43cea2, #185a9d); 
  background: linear-gradient(to right, #43cea2, #185a9d); */
  
    /* background: linear-gradient(#141e30, #243b55); */
    /* position: absolute; */
    /* top: 15%; */
    left: 15%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* background: linear-gradient(#2193b0, #6dd5ed); */
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(26,6,90,1) 0%, rgba(0,131,158,1) 60%);
    background-attachment: fixed;
}

a.link:hover{
    color: #29f2f5;
  text-shadow:0px 0px 30px #ffffff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transform: scale(1.09);
}

.link{
    padding: 16px 16px;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    
}
.icon{
  padding: 10px;
  color: blue;
  
}
