body {
  background: #43cea2;
  background: -webkit-linear-gradient(to right, #43cea2, #185a9d);
  background: linear-gradient(to right, #43cea2, #185a9d);
  background: linear-gradient(#2193b0, #6dd5ed);
  background-attachment: fixed;
}

.bigbox {
    height: 1500px;
    width: 70%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    /* background: linear-gradient(#141e30, #243b55); */
    background: #43cea2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #43cea2, #185a9d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #43cea2, #185a9d);
    background: linear-gradient(#2193b0, #6dd5ed);
    background-attachment: fixed;

    position: absolute;
    top: 15%;
    left: 15%;
    border-radius: 10px;
    transition: .5s;
  }

  .info {
    height: 450px;
    /* width: 70%; */
    /* text-align: center; */
    width: 400px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    position: absolute;
    top: 15%;
    left: 30%;
    border-radius: 10px;
    transition: .5s;
    text-decoration: none;
    /* padding: 10px; */
    /* background-color: #3eaeb1; */
}

.info-text {
  display: flex;
  position: relative;
  top: 50%

;
  /* align-items: center; */
  justify-content: center;
}

.rules {
    height: 450px;
    /* width: 70%; */
    width: 400px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    position: absolute;
    top: 15%;
    left: 65%;
    border-radius: 10px;
    transition: .5s;
    text-decoration: none;
    /* padding: 10px; */
    /* background-color: #3eaeb1; */
}
  
.amt {
    height: 120px;
    /* width: 70%; */
    width: 400px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 5%;
    left: 65%;
    border-radius: 10px;
    transition: .5s;
    text-decoration: none;
    /* padding: 10px; */
    /* background-color: #3eaeb1; */

}

.com-logo {
    height: 200px;
    /* width: 70%; */
    width: 200px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 5%;
    left: 6%;
    background: url("./images/csi.jpg") 50% 50% / cover no-repeat;
    border-radius: 10px;
    transition: .5s;
    text-decoration: none;
    /* padding: 10px; */
    /* background-color: #3eaeb1; */

}

.register {
    height: 50px;
    /* width: 70%; */
    width: 200px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 10%;
    left: 37%;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
    text-align: center;
    /* padding: 10px; */
    /* background-color: #3eaeb1; */
    background-color: black;
}
.register1 {
  height: 50px;
  /* width: 70%; */
  width: 200px;
  box-shadow: 0 0 50px rgba(0, 0, 0, .3);
  position: absolute;
  bottom: 15%;
  left: 37%;
  border-radius: 10px;
  transition: .5s;
  cursor: pointer;
  text-align: center;
  /* padding: 10px; */
  /* background-color: #3eaeb1; */
}
.register2 {
  height: 50px;
  /* width: 70%; */
  width: 200px;
  box-shadow: 0 0 50px rgba(0, 0, 0, .3);
  position: absolute;
  bottom: 5%;
  left: 37%;
  border-radius: 10px;
  transition: .5s;
  cursor: pointer;
  text-align: center;
  /* padding: 10px; */
  /* background-color: #3eaeb1; */
}

h2{
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    /* position: relative;
    left: 10%;
    bottom: 5%; */
    padding-top: 5px;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
  }
  .box-contents {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 20%;
    left: 10%;
    background: url('./images/tile.png')no-repeat;
    background-position: center;
    background-size: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    transition: .5s ease;
  }

  .box:hover {
    cursor: pointer;
  }


  .hover-point {
    position: absolute;
    z-index: 2;
    width: calc(100% / 3);
    height: calc(100% / 3);
  }
  .hover-point:nth-child(1) {
    top: 0;
    left: 0;
  }
  .hover-point:nth-child(2) {
    top: 0;
    left: calc(100% / 3);
  }
  .hover-point:nth-child(3) {
    top: 0;
    right: 0;
  }
  .hover-point:nth-child(4) {
    top: calc(100% / 3);
    left: 0;
  }
  .hover-point:nth-child(5) {
    top: calc(100% / 3);
    right: 0;
  }
  .hover-point:nth-child(6) {
    bottom: 0;
    left: 0;
  }
  .hover-point:nth-child(7) {
    bottom: 0;
    left: calc(100% / 3);
  }
  .hover-point:nth-child(8) {
    bottom: 0;
    right: 0;
  }
  .hover-point:nth-child(1):hover ~ .box-contents {
    box-shadow: 15px 15px 50px rgba(0, 0, 0, .3);
    transform-origin: right top;
    transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
  }
  .hover-point:nth-child(2):hover ~ .box-contents {
    box-shadow: 0 15px 50px rgba(0, 0, 0, .3);
    transform-origin: center top;
    transform: perspective(1000px) rotateX(10deg);
  }
  .hover-point:nth-child(3):hover ~ .box-contents {
    box-shadow: -15px 15px 50px rgba(0, 0, 0, .3);
    transform-origin: left top;
    transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
  }
  .hover-point:nth-child(4):hover ~ .box-contents {
    box-shadow: 15px 5px 50px rgba(0, 0, 0, .3);
    transform-origin: left center;
    transform: perspective(1000px) rotateY(-10deg);
  }
  .hover-point:nth-child(5):hover ~ .box-contents {
    box-shadow: -15px 5px 50px rgba(0, 0, 0, .3);
    transform-origin: right center;
    transform: perspective(1000px) rotateY(10deg);
  }
  .hover-point:nth-child(6):hover ~ .box-contents {
    box-shadow: 15px -15px 50px rgba(0, 0, 0, .3);
    transform-origin: right bottom;
    transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
  }
  .hover-point:nth-child(7):hover ~ .box-contents {
    box-shadow: 0 -15px 50px rgba(0, 0, 0, .3);
    transform-origin: center bottom;
    transform: perspective(1000px) rotateX(-10deg);
  }
  .hover-point:nth-child(8):hover ~ .box-contents {
    box-shadow: -15px -15px 50px rgba(0, 0, 0, .3);
    transform-origin: left bottom;
    transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
  }

